<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors      = "true"
    bootstrap   = "tests/bootstrap.php">

    <php>
        <const name="APP_NAME" value="foo" />
        <const name="APP_PASSWORD" value="bar" />
    </php>

    <testsuites>
        <testsuite name="ShoneZlo AbbyyCloud Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

</phpunit>